In [1]:
class a:
    def hello(self):
        print("Hi there!")
class b(a):
    def hi(self):
        print("1,2,3,4,5")
class c(b):
    def my(self):
        print("Welcome to VS Code!")
obj=c()
obj.hello()
obj.hi()
obj.my()

Hi there!
1,2,3,4,5
Welcome to VS Code!

In [10]:
class person:
    def __init__(self,name,city):
        self.name = name
        self.city = city
        
class student(person): 
    def __init__(self,name,city,rollno):
        super().__init__(name,city)
        self.rollno = rollno
        print("Student's name: ",name)
        print("Student's city: ",city)
        print("Student's roll number: ",rollno)
        
class teacher(person): 
    def __init__(self,name,city,employee_id):
        super().__init__(name,city)
        self.employee_id = employee_id
        print("Teacher's name: ",name)
        print("Teacher's city: ",city)
        print("Employee ID: ",employee_id)
        
b=student("Mounish","Mumbai","20MIC0036")
c=teacher("Boominathan","Chennai","Er34")

Enter name, city & roll number:
Student's name:  Mounish
Student's city:  Mumbai
Student's roll number:  20MIC0036
Enter name, city & employee_id:
Teacher's name:  Boominathan
Teacher's city:  Chennai
Employee ID:  Er34

In [3]:
#isinstance() & issubclass()
class a: pass
class b: pass
class c(a): pass

std = a()
mark = b()

print(isinstance(std, a))
print(isinstance(mark, a))
print(isinstance(std, b))
print(isinstance(mark, b))

print(issubclass(a, object))
print(issubclass(b, object))
print(issubclass(c,a))

True
False
False
True
True
True
True

In [2]:
class add:
    def adding(self,num1,num2):
        sum=num1+num2
        print(sum)
        return sum
class subtract(add):
    def subtracting(self,num1,num2):
        if num1>num2:
            diff=num1-num2
        else: 
            diff=num2-num1
        print(diff)
        return diff
obj=subtract()
obj.adding(10,20)
obj.subtracting(10,20)
obj.subtracting(20,10)

30
10
10

10

In [4]:
class student:
    fees = 10000
    def __init__(self,name,rollno,city):
        self.name=name
        self.rollno=rollno 
        self.city=city
class cse(student): 
    fees = 12000
    def __init__(self,name,rollno,city,year):
        self.name=name
        self.rollno=rollno 
        self.city=city
        self.year=year
stu1=cse("hari",121,"hyd",2022)
stu2=cse("ram",122,"mum",2022)

print(stu1.name)
print(stu1.rollno)
print(stu1.city)
print(stu1.fees)

print(stu2.name)
print(stu2.rollno)
print(stu2.city)
print(stu2.fees)

hari
121
hyd
12000
ram
122
mum
12000

In [13]:
class calculator:
    def __init__(self,num1,num2):
        self.num1 = num1
        self.num2 = num2
        
class add(calculator):
    def __init__(self,num1,num2):
        super().__init__(num1,num2)
        sum=num1+num2
        print(sum)
        
class subtract(calculator):
    def __init__(self,num1,num2):
        super().__init__(num1,num2)
        if num1>num2:
            diff = num1-num2
        else: 
            diff = num2-num1
        print(diff)
        
class multiply(calculator):
    def __init__(self,num1,num2):
        super().__init__(num1,num2)
        product=num1*num2
        print(product)
        
class divide(calculator):
    def __init__(self,num1,num2):
        super().__init__(num1,num2)
        if num2!=0:
            div=num1/num2
            print(div)
        else: print("Infinity")

a=add(12,23)
b=subtract(12,23)
c=multiply(12,23)
d=divide(12,23)

35
11
276
0.5217391304347826

In [1]:
class student:
    fees = 10000
    def __init__(self,name,rollno,city):
        self.name=name
        self.rollno=rollno 
        self.city=city
class cse(student): 
    fees = 12000
    def __init__(self,name,rollno,city,year):
        super().__init__(name,rollno,city)  #superclass to reduce the lines of code.
        self.year=year
stu1=cse("hari",121,"hyd",2022)
stu2=cse("ram",122,"mum",2022)

print(stu1.name)
print(stu1.rollno)
print(stu1.city)
print(stu1.fees)

print(stu2.name)
print(stu2.rollno)
print(stu2.city)
print(stu2.fees)

hari
121
hyd
12000
ram
122
mum
12000

In [2]:
class person:
    def __init__(self,name,city):
        self.name=name
        self.city=city
        
class teacher(person):
    salary = 10000
    #print("Faculty of VIT")
    def __init__(self,name,employee_id,city):
        super().__init__(name,city) 
        self.employee_id=employee_id
        
class student(person):
    fees = 10000
    #print("Student of VIT")
    def __init__(self,name,rollno,city):
        super().__init__(name,city) 
        self.rollno=rollno 

class cse(student): 
    fees = 20000
    branch="CSE"
    #print("CSE Student of VIT")
    def __init__(self,name,rollno,city,year):
        super().__init__(name,rollno,city)
        self.year=year
    
class mech(student):
    fees = 15000
    branch="MECHANICAL"
    def __init__(self,name,rollno,city,year):
        super().__init__(name,rollno,city)
        self.year=year
           
stu1=cse("Hari",20121,"Hyderabad",2022)
stu2=cse("Ram",20122,"Mumbai",2022)
emp1=teacher("Swathi",134,"Chennai")
emp2=teacher("Raj",567,"Delhi")

print("------EMPLOYEE DETAILS------")
print("\n")
print("Employee Name: ",emp1.name)
print("Employee ID: ",emp1.employee_id)
print("Employee Salary: ",emp1.salary)
print("Employee City: ",emp1.city)
print("\n")
print("Employee Name: ",emp2.name)
print("Employee ID: ",emp2.employee_id)
print("Employee Salary: ",emp2.salary)
print("Employee City: ",emp2.city)
print("\n")
print("------STUDENT DETAILS------")
print("\n")
print("Student Name: ",stu1.name)
print("Roll No: ",stu1.rollno)
print("City: ",stu1.city)
print("Branch: ",stu1.branch)
print("Fees: ",stu1.fees)
print("\n")
print("Student Name: ",stu2.name)
print("Roll No: ",stu2.rollno)
print("City: ",stu2.city)
print("Branch: ",stu2.branch)
print("Fees: ",stu2.fees)

------EMPLOYEE DETAILS------


Employee Name:  Swathi
Employee ID:  134
Employee Salary:  10000
Employee City:  Chennai


Employee Name:  Raj
Employee ID:  567
Employee Salary:  10000
Employee City:  Delhi


------STUDENT DETAILS------


Student Name:  Hari
Roll No:  20121
City:  Hyderabad
Branch:  CSE
Fees:  20000


Student Name:  Ram
Roll No:  20122
City:  Mumbai
Branch:  CSE
Fees:  20000

In [3]:
# multiple inheritance

# Base class1
class Mother:
	mothername = ""

	def mother(self):
		print(self.mothername)

# Base class2

class Father:
	fathername = ""

	def father(self):
		print(self.fathername)

# Derived class

class Son(Mother, Father):
	def parents(self):
		print("Father :", self.fathername)
		print("Mother :", self.mothername)

# Driver's code
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA